<%= form_for @album, :url => {:action => 'update_album_info', :id => @album.id}, :html => {:method => :put }  do |f| %>
      

	<%= render "shared/portfolio_nav" %>
	
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
    </p>

  <p><%= f.submit %></p>
<% end %>

