<h3><%= title "Profile Picture" %></h3>

<%= form_for @member, :url => { :action => "update_profile_pic" }, :html => {:multipart => true,  :method => :put } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% if pic = @profile_pics.find(:last, :conditions => 'status = 2') %>
		<%= image_tag pic.photo.url %>

<% elsif pic = @profile_pics.find(:last, :conditions => 'status = 1') %>
	<%= image_tag pic.photo.url %>

<%end%>

    <%= f.fields_for :profile_pic do |builder| %>

	<% if @member.verification_pics.find(:last, :conditions => ['status = 1 or status = 2' ] )%>


		<% if @profile_pics[0].created_at.nil?  %>
			<%= builder.label :photo, 'upload a profile picture' %>
			<%= builder.file_field :photo %>
		
		<% elsif pic = @profile_pics.find(:last, :conditions => 'status = 1') %>
			<p>awaiting confirmation:</p>
			<%= image_tag pic.photo.url%>
			<p>once this photo has been verified, it will automatically replace your current profile photo. </p>
			<%= link_to 'cancel verification request', cancel_verification_path %>
	  
		<% elsif pic = @profile_pics.find(:last,:conditions => 'status = 3')%>
			<p> your previous uploaded photo is invalid, please upload another one.</p>
			<%= image_tag pic.photo.url%>
			<%= builder.label :photo, 'change photo' %>
			<%= builder.file_field :photo %>
		<% else %>
			<%= builder.label :photo, 'change photo' %>
			<%= builder.file_field :photo %>
		<% end %>
	
	<% else %>
	
		<%= builder.label :photo, 'change photo' %>
		<%= builder.file_field :photo %>
	       
		<% if @profile_pics.find(:last, :conditions => ['status = 1 or status = 2'])  %>
			<%= link_to 'Remove Photo', remove_profile_pic_path%>
		<% end %>
    	<% end %>
    
    <%= builder.hidden_field :status, :value => 1 %>
<% end %>


<p><%= f.submit "Update"%></p>




<% end %>
