<h3><%= title "Contact Information" %></h3>

<%= form_for @member, :url => { :action => "updateprofile" } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
    </p>
      <p>
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>

 

  <p><%= f.submit "Save Changes"%></p>
<% end %>
