<h1>My Profile</h1>
<%= link_to "Edit Profile", '/member/edit_personal_details' %>

<% if @member.profile_pics.count == 1%>
	<%= image_tag @member.profile_pics[0].photo.url %>
<% elsif @member.profile_pics.count > 1 %>
	<% pic = @member.profile_pics.find(:last, :conditions => 'status = 2') %>
		<%= image_tag pic.photo.url %>
<%end%>

<% unless @member.verification_pics.find(:first, :conditions => 'status =2 ')%>
	<%= link_to "Add Verification Photo", verification_path %>
<% else %>
	<p> Verification Picture Approved!!! </p>
<% end %>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>
<p>
  <strong>Dob:</strong>
  <%= @member.DOB %>
  </p>
<p>
  <strong>Facebook:</strong>
  <%= @member.facebook %>
  </p>

<p>
  <strong>Twitter:</strong>
  <%= @member.twitter %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>


<% if @member.role == 'model' %>

<p>
  <strong>Height:</strong>
  <%= @member.model.height %>
</p>
<p>
  <strong>Weight:</strong>
  <%= @member.model.weight %>
</p>
<p>
  <strong>Measurement Chest:</strong>
  <%= @member.model.measurement_chest %>
</p>
<p>
  <strong>Measurement Waist:</strong>
  <%= @member.model.measurement_waist %>
</p>
<p>
  <strong>Measurement Hip:</strong>
  <%= @member.model.measurement_hip %>
</p>
<p>
  <strong>Shoe Size:</strong>
  <%= @member.model.shoe_size %>
</p>
<p>
  <strong>Bio:</strong>
  <%= @member.model.bio %>
</p>



 <% elsif @member.role == 'photographer' %>
<p>
  <strong>Bio:</strong>
  <%= @member.photographer.bio %>
</p>

 <% elsif @member.role == 'modeling_agent' %>
<p>
  <strong>Bio:</strong>
  <%= @member.modeling_agent.bio %>
</p>
 <% end %>

